# Server port
PORT=3001

# Frontend URL (used for CORS)
CLIENT_URL=https://discordwatch.netlify.app

# Apinator credentials (get from https://console.apinator.io)
APINATOR_APP_ID=
APINATOR_KEY=
APINATOR_SECRET=
APINATOR_CLUSTER=eu

# Node environment
NODE_ENV=development
